
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478064041'); /* IE9*/
  src: url('iconfont.eot?t=1478064041#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478064041') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478064041') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478064041#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tupian:before { content: "\e600"; }
.icon-shanchu:before { content: "\e60e"; }
.icon-md:before { content: "\e60c"; }
.icon-githubsquare:before { content: "\e604"; }
.icon-tianjia:before { content: "\e60d"; }
.icon-icon12:before { content: "\e60f"; }
.icon-lianjie:before { content: "\e602"; }
.icon-tables-copy:before { content: "\e603"; }
.icon-hr:before { content: "\e605"; }
.icon-daima:before { content: "\e606"; }
.icon-yinyong:before { content: "\e607"; }
.icon-youxuliebiao:before { content: "\e601"; }
.icon-xieti:before { content: "\e609"; }
.icon-jiacu:before { content: "\e60a"; }
.icon-cebianlan:before { content: "\e667"; }
.icon-wuxuliebiao1:before { content: "\e608"; }
